<% include partials/_header %>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/submit" method="POST">
                        <div class=form-group>
                            <input type="text" name="name" placeholder="Insert Your Name" class="form-control">
                        </div>

                        <div class=form-group>
                            <input type="number" min="10" max="80" name="age" placeholder="Insert Your Age"
                                class="form-control">
                        </div>

                        <div class=form-group>
                            <input type="text" name="city" placeholder="Insert Your City" class="form-control">
                        </div>

                        <div class=form-group>
                            <input type="text" name="home_address" placeholder="Insert Your Home Address"
                                class="form-control">
                        </div>

                        <div class=form-group>
                            <input type="email" name="email" placeholder="Insert Your Email" class="form-control">
                        </div>

                        <div class=form-group>
                            <input type="text" name="products" placeholder="Insert The Products" class="form-control">
                        </div>

                        <div class=form-group>
                            <textarea name="text" placeholder="Insert Your Opinion" class="form-control"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Opinion</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < surveys.length; ++i) { %>
                    <tr>
                        <td><%= surveys[i].name %></td>
                        <td><%= surveys[i].text  %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/_footer %>